{% extends "base.html" %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
<h1>{{ post.title }}</h1>
<div class='article'>
  <p class='type'>
    Published {{ post.type }} by {{ post.by }}
  </p>
  <div class='text'>
    {% if post.text %}
    {{ post.text|linebreaks|default:"No text body" }}
    {% else %}
    sorry no text body for this item.
    {% endif %}
  </div>
  <div class="text">
    {% for comment in comments %}
     <p>{{comment.text}} </p>
    <p class="type">Published {{ comment.type }} by {{ comment.by }}</p>
    {% endfor %}
  </div>
</div>
{% endblock %}
